.Finish__Podium {
  padding: 24px 16px 0;
  max-width: 720px;
  margin: var(--nav-height) auto 0;
  height: 200px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border-bottom: 1px solid var(--gray-5);
}

.Podium__Entry {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border-radius: 4px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  padding: 16px 4px;
  margin: 0 4px;
  width: 33.333%;
}

.Podium__Entry--first {
  background-color: #ffec99;
  height: 100%;
}

.Podium__Entry--second {
  order: -1;
  background-color: #e9ecef;
  height: 85%;
}

.Podium__Entry--third {
  background-color: #f0ddd1;
  height: 70%;
}

.Podium__Medal {
  margin-bottom: 4px;
  font-size: 32px;
}

.Podium__Name {
  margin-bottom: 2px;
  font-weight: 700;
  word-break: break-all;
}

.Podium__Points {
  font-size: 14px;
}

.Finish__TableContainer {
  display: flex;
  max-width: 720px;
  margin: 0 auto;
  padding: 16px;
}

.Finish__Table {
  table-layout: fixed;
  display: inline-table;
  border-collapse: collapse;
  flex-grow: 1;
}

.Finish__Table th,
.Finish__Table td {
  padding: 7px 4px;
  font-size: 14px;
  text-align: center;
}

.Finish__Table td {
  border-top: 1px solid var(--gray-5);
}

.Finish__Table th:first-child,
.Finish__Table td:first-child {
  text-align: left;
  min-width: 160px;
}

.Finish__Footer {
  padding: 0 16px 8px;
  max-width: 720px;
  margin: 0 auto;
}

.Finish__Footer .Button {
  margin: 8px 0;
}