.Competition {
  padding: 16px 16px 0;
  width: 100%;
  max-width: 720px;
  margin: var(--nav-height) auto 0;
}

.Competition__Footer {
  padding: 0 16px 8px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.Competition__Footer .Button {
  margin: 8px 0;
}

.CourseRule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray-5);
}

.CourseRule__Name {
  font-weight: 700;
}

.CourseRule__Points {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}

.CourseRule__HelpButton {
  fill: var(--gray-3);
  border-radius: 999px;
  background-color: var(--white);
  padding: 4px;
  line-height: 0;
  transition: all .1s ease-in;
}

.CourseRule__HelpButton:active {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, .1);
}

.Stepper {
  border-radius: 4px;
  border: 1px solid var(--gray-4);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
  overflow: hidden;
  flex-shrink: 0;
}

.Stepper__Button {
  fill: var(--gray-1);
  border-radius: 0;
  line-height: 0;
  padding: 9px;
  transition: all .1s ease-in;
}

.Stepper__Button:active {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, .1);
}

.Stepper__Button:first-child {
  border-right: 1px solid var(--gray-4);
}

.Stepper__Button:last-child {
  border-left: 1px solid var(--gray-4);
}

.Stepper__Input {
  border: none;
  font-size: 14px;
  width: 40px;
  text-align: center;
}