.InstallPWA {
  margin-top: auto;
  padding: 12px;
  background: rgba(248,177,30,.2);
}

.InstallPWA__Content {
  display: flex;
  align-items: center;
}

.InstallPWA__AppIcon {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  margin-right: 10px;
}

.InstallPWA__Title {
  font-size: 15px;
  margin: 0 8px 0 0;
}

.InstallPWA__Description {
  color: rgba(0,0,0,.75);
  font-size: 13px;
  margin: 2px 0 0;
}

.InstallPWA .Button {
  background-color: var(--orange);
  color: var(--white);
  margin-left: auto;
  padding: 6px 12px;
  font-size: 13px;
  width: auto;
}

@media (min-width: 720px) {
  .InstallPWA {
    max-width: 720px;
    width: 100%;
    margin: auto;
    margin-bottom: 16px;
    border-radius: 8px;
    padding: 16px;
  }

  .InstallPWA__Title {
    font-size: 16px;
  }

  .InstallPWA__Description {
    font-size: 14px;
  }
}