.Competition {
  padding: var(--nav-height) 0;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.Competition__Footer {
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: var(--nav-height);
  background-color: var(--white);
  display: flex;
  align-items: center;
}

.Competition__Footer .Button {
  margin: 8px;
}
