.Registration {
  padding: 8px 16px;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 720px;
  margin: var(--nav-height) auto 0;
}

.Registration__Row {
  display: flex;
  align-items: center;
  margin: 8px 0;
  position: relative;
}

.Registration__RemoveRow  {
  position: absolute;
  right: 0;
  top: 3;
  fill: var(--gray-3);
  padding: 10px;
  flex-shrink: 0;
  line-height: 0;
}

.Registration__Input {
  border-radius: 4px;
  border: 1px solid var(--gray-4);
  font-size: 14px;
  font-family: inherit;
  line-height: 24px;
  padding: 9px;
  width: 100%;
}

.Registration__Input::placeholder {
  color: var(--gray-3);
}

.Registration .Button {
  margin: 8px 0;
}