:root {
  --gray-1: #111;
  --gray-2: #666;
  --gray-3: #999;
  --gray-4: #ccc;
  --gray-5: #e5e5e5;
  --white: #fff;
  --orange: #F78818;
  --orange-dark: #E66D00;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--white);
}

body {
  background-color: var(--white);
  color: var(--gray-1);
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Noto', sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  border-radius: 4px;
  border: 1px solid var(--gray-5);
  font-size: 14px;
  font-family: inherit;
  line-height: 24px;
  padding: 9px;
  width: 100%;
}

button {
  background-color: var(--orange);
  border-radius: 4px;
  border: none;
  color: var(--white);
  font-size: 15px;
  font-weight: 700;
  font-family: inherit;
  line-height: 24px;
  padding: 10px;
  transform: all .15s ease-in;
  outline: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

button:focus {
  box-shadow: inset 0 0 0 100px rgba(0, 0, 0, .1);
}

a {
  color: var(--orange-dark)
}