.Competition {
  padding: 80px 16px 16px 16px;
  width: 100%;
  max-width: 720px;
  margin: 0 auto;
}

.CourseRule {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
  padding-bottom: 16px;
  border-bottom: 1px solid var(--gray-5);
}

.CourseRule__Name {
  font-weight: 700;
}

.CourseRule__Points {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-size: 14px;
}

.CourseRule__HelpButton {
  fill: var(--gray-3);
  border-radius: 999px;
  background-color: var(--white);
  padding: 4px;
  line-height: 0;
}

.Competition__SecondaryButton {
  background-color: var(--gray-5);
  color: var(--gray-1);
  width: 100%;
}