.Competition {
  padding: 85px 16px 0 16px;
}

.Navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--white);
  border-bottom: 1px solid var(--black-10);
}

.Navigation__Button {
  background-color: var(--white);
  line-height: 0;
  margin: 8px 0;
  padding: 12px
}

.Navigation__DriverSelect {
  background-color: var(--white);
  border: none;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  padding: 8px;
  text-align: center;
  -moz-text-align-last: center;
  text-align-last: center;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.Navigation__Course {
  font-size: 14px;
  text-align: center;
  margin-top: -4px;
  margin-bottom: 8px;
}

.Stepper__Container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid var(--black-10);
}

.Stepper__Label {
  font-weight: 700;
}

.Stepper__Points {
  font-size: 14px;
  margin-top: 2px;
}

.Stepper {
  display: flex;
}

.Stepper__Button {
  fill: var(--gray-1);
  line-height: 0;
  background-color: var(--white);
  padding: 7px;
  border: 1px solid var(--black-20);
}

.Stepper__Button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Stepper__Button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Stepper__Input {
  margin: 0 -1px;
  border-radius: 0;
  padding: 7px;
  width: 48px;
  text-align: center;
}

.Footer {
  padding: 0 16px;
  text-align: center;
}

.Footer__ButtonContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.Footer__Button {
  flex-basis: 48%;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--white);
}

.Footer__SecondaryButton {
  background-color: var(--black-10);
  color: var(--gray-1);
  font-size: 13px;
  padding: 6px;
  flex-basis: 100%;
  margin-top: 16px;
  width: 100%;
}

.Footer a {
  font-size: 14px;
}
