:root {
  --gray-1: #111;
  --gray-2: #666;
  --gray-3: #999;
  --black-20: rgba(0, 0, 0, .2);
  --black-10: rgba(0, 0, 0, .1);
  --white: #fff;
  --orange: #F78818;
  --orange-dark: #E66D00;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: var(--white);
}

body {
  background-color: var(--white);
  color: var(--gray-1);
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Noto', sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *:before, *:after {
  box-sizing: inherit;
}
