.RegisterDrivers {
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.RegisterDrivers__Row {
  display: flex;
  align-items: center;
}

.RegisterDrivers__RemoveRow  {
  width: 40px;
  height: 40px;
  padding: 10px;
  margin-right: -12px;
}

.RegisterDrivers__RemoveRow {
  fill: var(--gray-3);
}
