.Registration {
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: flex-start;
  min-height: 100vh;
}

.Registration__Title {
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 16px;
}

.Registration__Row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}

.Registration__RemoveRow  {
  position: absolute;
  right: 0;
  top: 0;
  fill: var(--gray-3);
  padding: 12px;
  flex-shrink: 0;
  line-height: 0;
}

.Registration__Button {
  margin-top: 8px;
  width: 100%;
}
