.RegisterDrivers {
  padding: 16px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.RegisterDrivers__Row {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
}

.RegisterDrivers__RemoveRow  {
  position: absolute;
  right: 0;
  top: 0;
  fill: var(--gray-3);
  padding: 12px;
  flex-shrink: 0;
  line-height: 0;
}

.RegisterDrivers__Button {
  margin-bottom: 8px;
}
