.Stepper {
  display: flex;
}

.Stepper__Button {
  fill: var(--gray-1);
  line-height: 0;
  background-color: var(--white);
  padding: 7px;
  border: 1px solid var(--gray-4);
}

.Stepper__Button:first-child {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.Stepper__Button:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.Stepper__Input {
  border: 1px solid var(--gray-4);
  border-left: none;
  border-right: none;
  font-size: 14px;
  padding: 7px;
  width: 48px;
  text-align: center;
}